.card {
    border-radius: 20px;
    width: 281px;
    height: auto;

    background: #fff;

    padding: 5% 5% 5% 5%;

    flex-shrink: 0;

    word-wrap: break-word;
}

.priorityText {
    font-family: Poppins;
    font-size: 8px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

    color: #707070;

    position: relative;
    top: center;
}

.cardTitle {
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}

.checklist {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}

.hideBut {
    /* background-color: transparent; */
    background-image: url('../../../Assets/hideBut.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-color: transparent;
}

.showBut {
    /* background-color: transparent; */
    background-image: url('../../../Assets/showBut.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-color: transparent;
}

.cardFooter {
    display: flex;


}

.butFooter {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;

    color: #767575;

    border-radius: 8px;
    padding: 5px 10px;
    /* width: 62px;
    height: 22px; */

    background: #eeecec;
}

.butFooterDate {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;

    color: #767575;

    border-radius: 8px;
    padding: 5px 10px;
    /* width: 62px;
    height: 22px; */

    background: #eeecec;
}

.butFooterDatePassed {
    background: #cf3636;

    border-radius: 8px;
    padding: 5px 10px;
    /* width: 53px;
    height: 22px; */

    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;

    color: #FFFFFF;
}


.butFooterDateGreen {

    border-radius: 8px;
    padding: 5px 10px;
    /* width: 53px;
    height: 22px; */

    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;

    color: #FFFFFF;

    background: #63c05b;
}

.dropDown {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0;
    top: 30px;
}

.dropDownBut {
    font-family: Poppins;
    font-size: 19px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}

.dropDownButDel {
    font-family: Poppins;
    font-size: 19px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #CF3636;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}